{% extends 'base.html' %}

{% block content %}

    <div class="row d-flex justify-content-center">
        <h2 class="text-center">Login User</h2>
        <form action="" method="post" class="col-md-6" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" class="btn btn-info form-control">
            <a href="{% url "accounts:reset_password" %}" class="form-link" style="text-decoration: None">
                reset password
            </a>
        </form>
    </div>

{% endblock %}