<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url "home:home" %}">Question Website</a>
        <div class="navbar-nav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accounts:user_profile" request.user.id %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accounts:user_logout" %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accounts:user_register" %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "accounts:user_login" %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
